
.todoPrincipal {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding-bottom: 20px;
}

.todoPrincipalLogo {
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 145px;
    top: 20px;
    padding: 10px;
}

.todoPrincipal__body {
    width: 100vw;
    height: auto;
    position: absolute;
    top: 90px;
}

.body__controls {
    height: 80px;
    margin: 40px 15px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed rgba(34, 34, 34, 0.5);
}

.body__controls p {
    font-family: var(--first-fontfamily);
}

.listOfTodos {
    height: 100%;
    margin: 20px;
}


