.todoContainer {
    width: 100%;
    height: auto;
    margin-bottom: 90px;
}

@media(min-width: 762px) {
    .todoContainer {
        width: 90vw;
        display: flex;
        flex-direction: column;
    }
}


