
.todoPrincipal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.todoPrincipal__header {
    display: flex;
    flex-direction: column;
    height: 310px; 
}

.header {
    position: fixed;
    width: 100vw;
    height: 70px;
    background-color: var(--fisrt-text);
}

.todoPrincipal__header--controls {
    position: absolute;
    width: 100vw;
    top: 30px;
}

.header--controls {
    height: 80px;
    margin: 40px 15px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed rgba(34, 34, 34, 0.5);
}

.todoPrincipal__body {
    position: absolute;
    width: 100vw;
    height: auto;
    top: 310px;
    bottom: 100px;
    overflow: auto;
}

.body__controls p {
    font-family: var(--first-fontfamily);
}

.listOfTodos {
    height: 100%;
    margin: 20px;
}

@media(min-width: 762px) {
    .todoPrincipal__header--controls {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        top: 30px;
    }

    .header--controls {
        width: 90vw;
    }

    .listOfTodos {
        display: flex;
        justify-content: center;
        padding-left: 15px;
    }
}
