
.todoPrincipal {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding-bottom: 20px;
}

.todoPrincipalLogo {
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 145px;
    top: 20px;
    padding: 10px;
}

.todoPrincipal__body {
    width: 100vw;
    height: auto;
    position: absolute;
    top: 90px;
}

.body__controls {
    height: 80px;
    margin: 40px 15px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed rgba(34, 34, 34, 0.5);
}

.body__controls p {
    font-family: 'Montserrat', sans-serif;
}

.body__searchField {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45px;
    margin: 15px;
    border-radius: 4px;
    background-color: #d9d9d9;
}

.body__searchField--field {
    width: 80%;
    height: 70%;
    margin-left: 10px;
    border-radius: 5px;
    border-color: #d9d9d9;
}

.body__searchField--button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid rgba(26, 184, 219, 1)
}

.listOfTodos {
    height: 100%;
    margin: 20px;
}


