:root {
  --first-color: #1AB8DB;
  --second-color: #ff0000;
  --third-color: #d9d9d980;
  --fisrt-text: #000000;
  --second-text: #ffffff;
  --first-fontfamily: 'Montserrat', sans-serif;
  --second-fontfamily: 'Creepster', cursive;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
